<!DOCTYPE html>
<html>
<head>
	<title>What's Up</title>
</head>
<body>
	{% if messages %}
	{% for message in messages %}
        <p class="{{message.tags}}">{{message}}</p>
	{% endfor %}
	{% endif %}
	<h1>Hello, {{user.name}}!</h1>
	<h3>Here are your appointments for today, {% now "F d, Y" %}:</h3>
	<fieldset>
	<table>
		<thead>
			<tr>
				<th>Tasks</th>
				<th>Time</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for appointment in appointments %}
			<tr>
				<td>{{appointment.task}}</td>
				<td>{{appointment.task_time}}</td>
				<td>{{appointment.task_status}}</td>
				<td>
					<a href="/edit/{{appointment.id}}">Edit</a>
					<a href="/destroy/{{appointment.id}}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</fieldset>
	<h4>Status Key:</h4>
	<p>1= Pending</p>
	<p>2= Done</p>
	<p>3= Missed</p>

	<h3>Your Other Appointments:</h3>
	<fieldset>
	<table>
		<thead>
			<tr>
				<th>Tasks</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{% for appointment in other_appointments %}
			<tr>
				<td>{{appointment.task}}</td>
				<td>{{appointment.task_date}}</td>
				<td>{{appointment.task_time}}</td>
				<td>
					<a href="/destroy/{{appointment.id}}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</fieldset>
	<h2>Add Appointment:</h2>
	<form action="/add" method="POST">
        {% csrf_token %}
        <div>
            <label for="date">Date:</label>
            <input type="date" name="date">
        </div>
        <div>
            <label for="time">Time:</label>
            <input type="time" name="time">
        </div>
        <div>
        	<label for="task">Task:</label>
        	<textarea name="task"></textarea>
        <input type="submit" value='Add'>
    </form>
    <a href = "/logout">Logout</a>
</body>
</html>